<%= render 'layouts/header_adm'%>
<br><br>
<h1 style="text-align: center;">Absensi MTC</h1>
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
</head>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
    <% if notice.present?%>
      <p style="text-align: center" id="notice" class="alert alert-success"><%= notice %></p>
    <%end%>
    </div>
  </div>
  <div class="row">
  	<div class="col-sm-2">
  	</div>

  	<div class="col-sm-10">
  		<br>
  		<%= link_to 'Edit', edit_status_path(@status), class: 'btn btn-warning float-right' %> 
  		<br><br>
  		<table class="table mx-auto">
  			<tr>
  				<td>Status</td>
  				<td>:</td>
  				<td><%= @status.nama_status %></td>
  			</tr>
  		</table>
		</div>

	</div>
</div>
