<div class="py-5 bg-dark">
      <div class="container">
        
      </div>
      <!-- /.container -->
    </div>
    <br><br>
<h1 style="text-align: center;">Editing News</h1>
<%= render 'form', news: @news %>

