
  <header class="masthead"  >
      <div class="container">
        <br><br><br>
        <div class="row">
          <div class="col-sm-6 float-right">
            <div class="form-signup">
            <%= render 'form', akun: @akun %>
          </div>  
          </div>
        </div>
        <br><br>
         
          

      </div>

    </header>