<div class="container">
  <div class="row">
   <div class="col-sm-2">

              <div class="list-group">
                <a href="#" class="list-group-item "><span>Riwayat UKT saya</span></a>
                <a href="#" class="list-group-item active"> <span>Form UKT</span></a>
                <a href="#" class="list-group-item"> <span>Jadwal UKT</span></a>
              </div>
    </div>

        <%= yield %>
 </div>