<div class="py-5 bg-dark">
      <div class="container">
        
      </div>
</div>
<h1>Editing Ukt</h1>
<%= render 'layouts/nav' %>
<%= render 'form', ukt: @ukt %>

<%= link_to 'Show', @ukt %> |
<%= link_to 'Back', ukts_path %>
